#dashboard-total{
    display: grid;
    grid-template-columns: auto 80% auto;
    grid-template-areas: ". dashboard .";
    height: 100vh;

    >div{
        grid-area: dashboard;
        // height: 100vh;

        svg{
            width: 100%;
        }
    }
}